.form-section
  padding: 75px 0 80px

.form
  max-width: 468px
  margin: 0 auto

.form-group
  margin-bottom: 25px

.field-item
  &__label
    font-size: 16px
    line-height: 28px
    color: $site-title-color
    margin-bottom: 8px

  &__info
    font-size: 12px
    line-height: 20px
    margin-top: 6px
    color: #6c757d

.form-st-radio-group
  margin-top: 20px

.form-button-wrap
  text-align: center
  margin-top: 40px
