.form-section
  padding: 75px 0 80px

.form
  max-width: 468px
  margin: 0 auto

.form-group
  margin-bottom: 25px

  &_error
    .field-item__error
      display: block

    .field-item__info
      display: none

.field-item
  &__label
    font-size: 16px
    line-height: 28px
    color: $site-title-color
    margin-bottom: 8px

  &__info
    font-size: 12px
    line-height: 20px
    margin-top: 6px
    color: #6c757d

  &__error
    display: none

.form-st-radio-group
  margin-top: 20px

.form-button-wrap
  text-align: center
  margin-top: 40px

// /* Min width 740 pixels */
@media only screen and (min-width: 740px)
  .form-section
    padding: 108px 0 118px
// /* end media min width 740 pixels */

// /* Min width 960 pixels */
@media only screen and (min-width: 960px)
  .form-section
    padding: 158px 0 164px
// /* end media min width 960 pixels */
