.main-banner
  position: relative
  min-height: 400px
  padding: 25px 0 30px
  display: flex
  align-items: center
  color: $text-light
  text-align: center
  overflow: hidden

  h1
    color: $text-light
    text-transform: uppercase
    max-width: 320px
    margin: 0 auto 20px

  p
    max-width: 460px
    margin: 0 auto 22px

  .container
    width: 100%
    position: relative
    z-index: 3

.banner-img
  position: absolute
  left: 50%
  top: 0
  height: 100%
  z-index: 2
  transform: translate(-50%, 0)

  picture, img
    display: block
    max-width: none
    height: 100%

// /* Min width 520 pixels */
@media only screen and (min-width: 520px)
  .banner-img
    left: 0
    top: 50%
    height: auto
    width: 100%
    transform: translate(0, -50%)
// /* end media min width 520 pixels */

// /* Min width 740 pixels */
@media only screen and (min-width: 740px)
  .main-banner
    min-height: 500px
    padding: 22px 0 30px
    text-align: left

    h1
      max-width: 420px
      margin: 0 0 28px

    p
      margin: 0 0 35px

      .hidden-mobile
        display: inline
// /* end media min width 740 pixels */

// /* Min width 960 pixels */
@media only screen and (min-width: 960px)
  .main-banner
    min-height: 600px

    h1
      max-width: 530px

    p
      max-width: 530px
// /* end media min width 960 pixels */

// /* Min width 1200 pixels */
@media only screen and (min-width: 1200px)
  .banner-img
    top: 20%
    transform: translate(0, -20%)
// /* end media min width 1200 pixels */
